gym==0.21.0
gym-unity==0.26.0
h5py==3.9.0
Hydra==2.5
hydra-core==1.3.2
imageio-ffmpeg==0.4.8
mlagents==0.26.0
mlagents-envs==0.26.0
imageio-ffmpeg==0.4.8
omegaconf==2.3.0
opencv-python==4.8.0.76
stable-baselines3==1.8.0
stable-baselines3[extra]==1.8.0
sb3-contrib==1.8.0
scikit-learn==1.3.0
scipy==1.10.1
torch==1.8.1
torchvision==0.9.1
tqdm==4.66.1
transformers==4.34.0
timm==0.9.9
pytorch-lightning==1.1.8
vit-pytorch==1.6.0
wandb==0.15.12
triton==2.1.0
tensorboard==2.6.0
torchmetrics==0.9.3
torchsummary==1.5.1
mvp @ git+https://github.com/ir413/mvp@5746656229c815acb08a41b97064c79e10ffd399
transformers==4.34.0
huggingface-hub==0.17.3
stitching==0.5.3